extends layout

block content
  h1 Implementações de práticas e projetos
  p.lead Códigos implementados por Fernando Fernandes durante o curso de Engenharia Mecatrônica na UFRN/BR
  hr
  .row
    .col-sm-6
      h2 Inteligência Artificial Aplicada / DCA0121
      p Implementações de algoritimos de inteligência artificial, como: A*, N-rainhas, 
      p
        a.btn.btn-default(href='https://github.com/FernandoLeandroFernandes/DCA0121', role='button') View details »
    .col-sm-6
      h2 Redes Neurais Artificiais / DCA0454
      p Implementações em Java e Matlab de redes neurais implementadas durante a disciplina.
      p
        a.btn.btn-default(href='https://github.com/FernandoLeandroFernandes/DCA0454', role='button') View details »

  hr
  .row
    .col-sm-6
      h2 Controle Fuzzy de Sistemas Dinâmicos / DCA0126
      p Implementações de algoritimos de controle fuzzy de sistemas dinâmicos. 
      p
        a.btn.btn-default(href='https://github.com/FernandoLeandroFernandes/DCA0126', role='button') View details »
    .col-sm-6
      h2 Processamento Digital de Imagens / DCA0445
      p Implementações em OpenCV (C++) de códigos da disciplina.
      p
        a.btn.btn-default(href='https://github.com/FernandoLeandroFernandes/DCA0445', role='button') View details »
